.settingsBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.printerBtn {
  position: absolute;
  right: 100px;
  top: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.cameraContainer {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cameraContainer > div {
  position: relative;

  flex-grow: 1;
  flex-basis: 0;

  margin-top: 50px;
  margin-bottom: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.optionsOverlay {
  color: white;

  position: absolute;
  top: 20px;
  left: 20px;
}

.optionsOverlay:hover {
  cursor: pointer;
}

div > iframe {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
