.lockContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hours {
  text-align: center;
  color: white;
  font-size: 14rem;
  width: 300px;
}

.minutes {
  text-align: center;
  color: white;
  font-size: 14rem;
  width: 300px;
}

.seconds {
  text-align: center;
  color: white;
  font-size: 14rem;
  width: 300px;
}

.tic {
  text-align: center;
  color: white;
  font-size: 10rem;
  width: 40px;
  margin-top: 80px;
}

.unlock {
  position: absolute;
  width: 100%;
  height: 100%;
}
