.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.settingsTitle {
  color: white;
  position: block;
  text-align: center;
  font-size: 70px;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnContainer > button {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  width: 600px;
  height: 70px;
  margin-bottom: 25px;
}

.btnContainer > a {
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  width: 600px;
  height: 70px;
  margin-bottom: 25px;
  text-decoration: none;
}
