.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.settingsTitle {
  color: white;
  position: block;
  text-align: center;
  font-size: 70px;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnContainer > button {
  width: 200px;
}
